body {
    /* background-color: rgba(0, 255, 34, 0.363); */
    background-image: url("background.png");
    max-width: 100%;
    height: auto;
    
    /* background-color: rgb(50, 205, 55); */
    
}
p {
    text-align: center;
}
h1{
    text-align: center;
}
h2 {
    color: red;
    font-size: 30pt;
    width: fit-content;
    height: fit-content;
    margin-top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    width: fit-content;
    height: fit-content;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#lose {
    margin-top: 25px;
}

a {
    color: black;
}

img {
    border-radius: 4px;
    padding: 2px;
    max-width: 100%;
    height: auto;
  }

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  